
<h1>Currency Converter</h1>

<form action="/convert" method="GET">
    <label for="dollar">Amount</label>
    <input type="number" step="any" name="amount" id="amount"/>
    <br>
    <label for="from_currency">Convert from</label>
    <select name="from_currency" id="from_currency">
        <option value="Dollar">Dollar</option>
        <option value="Euros">Euros</option>
        <option value="INR">INR</option>
    </select>
    <label for="to_currency">TO</label>
    <select name="to_currency" id="to_currency">
        <option value="Euros">Euros</option>
        <option value="INR">INR</option>
        <option value="Dollar">Dollar</option>
    </select>
    <br>
    <button type="submit">Convert</button>
</form>
